@import url(lib/bootstrap-3.2.0.css);
@import url(lib/nv-d3-1.1.15b.css);

html, body {
	height: 100%;
	width: 925px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0;
}

svg {
	height: 350px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 3px;
}
